In [1]:
import numpy as np
import pandas as pd

### People Capacity

In [2]:
project_cd = 'ENT_001'
if_vrsn_id = '-'
plant_cd = 'K120'
res_cd = ['10003935_M','10003936_M','10003977_M','10003978_M','10003980_M','10003981_M','10007202_M', 
          '10003935_F','10003936_F','10003977_F','10003978_F','10003980_F','10003981_F','10007202_F']
res_nm = ['10003935_M','10003936_M','10003977_M','10003978_M','10003980_M','10003981_M','10007202_M', 
          '10003935_F','10003936_F','10003977_F','10003978_F','10003980_F','10003981_F','10007202_F']
res_seq = 4
res_type_cd = 'PPL'
res_ctgi_cd = ''
res_grp_cd = ['2217'] * 14
res_capa_val = [1, 2, 3, 4, 5, 6, 7] * 2
over_capa_val = [0] * 14
capa_unit_cd = 'MIN'
start_yymmdd = '20010101'
end_yymmdd = '99991231'
descr = ''
inf_capa_yn = 'N'
use_yn = 'Y'
del_yn = 'N'

In [3]:
res_org = ['10003935','10003936','10003977','10003978','10003980','10003981','10007202']
res_cd = []
for res in res_org:
    for number in range(1,6):
        res_cd.append(res + '_00')

In [3]:
people_cols = ['project_cd', 'if_vrsn_id', 'plant_cd', 'res_cd', 'res_nm', 'res_seq', 'res_type_cd', 
        'res_ctgi_cd', 'res_grp_cd', 'res_capa_val', 'over_capa_val', 'capa_unit_cd', 
        'start_yymmdd', 'end_yymmdd', 'descr', 'inf_capa_yn', 'use_yn', 'del_yn']

In [4]:
capa_people = pd.DataFrame({
    'res_cd': res_cd,
    'res_nm': res_nm,
    'res_capa_val': res_capa_val,
    'over_capa_val': over_capa_val
    }
)

In [5]:
capa_people['project_cd'] = project_cd
capa_people['if_vrsn_id'] = if_vrsn_id
capa_people['plant_cd'] = plant_cd
capa_people['res_seq'] = res_seq
capa_people['res_type_cd'] = res_type_cd
capa_people['res_ctgi_cd'] = res_ctgi_cd
capa_people['res_grp_cd'] = res_grp_cd
capa_people['capa_unit_cd'] = capa_unit_cd
capa_people['start_yymmdd'] = start_yymmdd
capa_people['end_yymmdd'] = end_yymmdd
capa_people['descr'] = descr
capa_people['inf_capa_yn'] = inf_capa_yn
capa_people['use_yn'] = use_yn
capa_people['del_yn'] = del_yn

In [6]:
capa_people = capa_people[people_cols]
capa_people

,project_cd,if_vrsn_id,plant_cd,res_cd,res_nm,res_seq,res_type_cd,res_ctgi_cd,res_grp_cd,res_capa_val,over_capa_val,capa_unit_cd,start_yymmdd,end_yymmdd,descr,inf_capa_yn,use_yn,del_yn
0,ENT_001,-,K120,10003935_M,10003935_M,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
1,ENT_001,-,K120,10003936_M,10003936_M,4,PPL,,2217,2,0,MIN,20010101,99991231,,N,Y,N
2,ENT_001,-,K120,10003977_M,10003977_M,4,PPL,,2217,3,0,MIN,20010101,99991231,,N,Y,N
3,ENT_001,-,K120,10003978_M,10003978_M,4,PPL,,2217,4,0,MIN,20010101,99991231,,N,Y,N
4,ENT_001,-,K120,10003980_M,10003980_M,4,PPL,,2217,5,0,MIN,20010101,99991231,,N,Y,N
5,ENT_001,-,K120,10003981_M,10003981_M,4,PPL,,2217,6,0,MIN,20010101,99991231,,N,Y,N
6,ENT_001,-,K120,10007202_M,10007202_M,4,PPL,,2217,7,0,MIN,20010101,99991231,,N,Y,N
7,ENT_001,-,K120,10003935_F,10003935_F,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
8,ENT_001,-,K120,10003936_F,10003936_F,4,PPL,,2217,2,0,MIN,20010101,99991231,,N,Y,N
9,ENT_001,-,K120,10003977_F,10003977_F,4,PPL,,2217,3,0,MIN,20010101,99991231,,N,Y,N
10,ENT_001,-,K120,10003978_F,10003978_F,4,PPL,,2217,4,0,MIN,20010101,99991231,,N,Y,N
11,ENT_001,-,K120,10003980_F,10003980_F,4,PPL,,2217,5,0,MIN,20010101,99991231,,N,Y,N
12,ENT_001,-,K120,10003981_F,10003981_F,4,PPL,,2217,6,0,MIN,20010101,99991231,,N,Y,N
13,ENT_001,-,K120,10007202_F,10007202_F,4,PPL,,2217,7,0,MIN,20010101,99991231,,N,Y,N

In [15]:
capa_people.to_csv('res_people.csv', index=False)

### Machine Group <-> People Group Map

In [8]:
project_cd = 'ENT_001'
plant_cd = 'K120'
res_map_cd = ['10003935','10003936','10003977','10003978','10003980','10003981','10007202'] * 2
res_grp_cd = ['2217'] *14
res_type_cd = ['PPL'] * 14
res_cd = ['10003935_M','10003936_M','10003977_M','10003978_M','10003980_M','10003981_M','10007202_M', 
          '10003935_F','10003936_F','10003977_F','10003978_F','10003980_F','10003981_F','10007202_F']
res_nm = ['10003935_M','10003936_M','10003977_M','10003978_M','10003980_M','10003981_M','10007202_M', 
          '10003935_F','10003936_F','10003977_F','10003978_F','10003980_F','10003981_F','10007202_F']
use_yn = 'Y'
del_yn = 'N'

In [9]:
map_cols = ['project_cd', 'plant_cd', 'res_map_cd', 'res_grp_cd','res_type_cd', 'res_cd', 'res_nm',
        'use_yn', 'del_yn']

In [10]:
capa_map = pd.DataFrame({
    'res_map_cd': res_map_cd,
    'res_grp_cd': res_grp_cd,
    'res_type_cd': res_type_cd,
    'res_cd': res_cd,
    'res_nm': res_nm,
    'use_yn': use_yn,
    'del_yn': del_yn,
    }
)

In [11]:
capa_map['project_cd'] = project_cd
capa_map['plant_cd'] = plant_cd
capa_map['use_yn'] = use_yn
capa_map['del_yn'] = del_yn

In [13]:
capa_map = capa_map[map_cols]
capa_map = capa_map.sort_values(by=['plant_cd', 'res_map_cd', 'res_grp_cd', 'res_cd']).reset_index(drop=True)
capa_map

,project_cd,plant_cd,res_map_cd,res_grp_cd,res_type_cd,res_cd,res_nm,use_yn,del_yn
0,ENT_001,K120,10003935,2217,PPL,10003935_F,10003935_F,Y,N
1,ENT_001,K120,10003935,2217,PPL,10003935_M,10003935_M,Y,N
2,ENT_001,K120,10003936,2217,PPL,10003936_F,10003936_F,Y,N
3,ENT_001,K120,10003936,2217,PPL,10003936_M,10003936_M,Y,N
4,ENT_001,K120,10003977,2217,PPL,10003977_F,10003977_F,Y,N
5,ENT_001,K120,10003977,2217,PPL,10003977_M,10003977_M,Y,N
6,ENT_001,K120,10003978,2217,PPL,10003978_F,10003978_F,Y,N
7,ENT_001,K120,10003978,2217,PPL,10003978_M,10003978_M,Y,N
8,ENT_001,K120,10003980,2217,PPL,10003980_F,10003980_F,Y,N
9,ENT_001,K120,10003980,2217,PPL,10003980_M,10003980_M,Y,N
10,ENT_001,K120,10003981,2217,PPL,10003981_F,10003981_F,Y,N
11,ENT_001,K120,10003981,2217,PPL,10003981_M,10003981_M,Y,N
12,ENT_001,K120,10007202,2217,PPL,10007202_F,10007202_F,Y,N
13,ENT_001,K120,10007202,2217,PPL,10007202_M,10007202_M,Y,N

In [16]:
capa_map.to_csv('res_people_map.csv', index=False)