In [12]:
import pandas as pd

In [17]:
capacity = pd.read_csv('human_capacity_temp.csv') 
# capacity = capacity.drop(columns='Unnamed: 0')
capacity

  plant_cd    yy week floor  m_val  w_val
0     K130  2022  W18     A     50     40
1     K110  2022  W18     A     50     40
2     K120  2022  W18     A     50     40
3     K140  2022  W18     A     50     40

In [21]:
capacity['m_val'] = 50
capacity['w_val'] = 50

In [22]:
capacity.to_csv('human_capacity_temp.csv', index=False)