In [8]:
import pandas as pd

In [12]:
capacity = pd.read_csv('human_capacity_temp.csv') 
capacity = capacity.drop(columns='Unnamed: 0')
capacity

  plant_cd    yy week floor  m_val  w_val
0     K130  2022  W18     A      7      5

In [14]:
add_data = {
    'plant_cd': ['K110', 'K120', 'K140'],
    'yy': ['2022', '2022', '2022'],
    'week': ['W18', 'W18', 'W18'],
    'floor': ['A', 'A', 'A'],
    'm_val': [7, 7, 7],
    'w_val': [5, 5, 5],
}

In [15]:
capacity2 = pd.DataFrame(add_data)
capacity = pd.concat([capacity, capacity2])

In [17]:
capacity.to_csv('human_capacity_temp.csv')