In [1]:
import numpy as np
import pandas as pd

### Human Capa (Update)

In [2]:
project_cd = 'ENT_001'
plant_cd = 'K120'    # 영등포
item_attr01_cd = 'P1'
capa_unit_cd = 'MIN'
start_yymmdd = '20220101'
end_yymmdd = '20221231'
use_yn = 'Y'
del_yn = 'N'

In [6]:
human = [
# P101
{'item_attr02_cd': 'P101', 'item_attr03_cd': 'P101003', 'res_grp_cd': '1108', 'res_type_cd': 'MALE', 'capacity': 2},
{'item_attr02_cd': 'P101', 'item_attr03_cd': 'P101003', 'res_grp_cd': '1108', 'res_type_cd': 'FEMALE', 'capacity': 10},
{'item_attr02_cd': 'P101', 'item_attr03_cd': 'P101005', 'res_grp_cd': '1108', 'res_type_cd': 'MALE', 'capacity': 1},
{'item_attr02_cd': 'P101', 'item_attr03_cd': 'P101005', 'res_grp_cd': '1108', 'res_type_cd': 'FEMALE', 'capacity': 9},
{'item_attr02_cd': 'P101', 'item_attr03_cd': 'P101008', 'res_grp_cd': '1108', 'res_type_cd': 'MALE', 'capacity': 1},
{'item_attr02_cd': 'P101', 'item_attr03_cd': 'P101008', 'res_grp_cd': '1108', 'res_type_cd': 'FEMALE', 'capacity': 8},
{'item_attr02_cd': 'P101', 'item_attr03_cd': 'P101050', 'res_grp_cd': '1108', 'res_type_cd': 'MALE', 'capacity': 1},
{'item_attr02_cd': 'P101', 'item_attr03_cd': 'P101050', 'res_grp_cd': '1108', 'res_type_cd': 'FEMALE', 'capacity': 3},
# P102
{'item_attr02_cd': 'P102', 'item_attr03_cd': 'P102009', 'res_grp_cd': '1108', 'res_type_cd': 'MALE', 'capacity': 3},
{'item_attr02_cd': 'P102', 'item_attr03_cd': 'P102009', 'res_grp_cd': '1108', 'res_type_cd': 'FEMALE', 'capacity': 8},
{'item_attr02_cd': 'P102', 'item_attr03_cd': 'P102015', 'res_grp_cd': '1108', 'res_type_cd': 'MALE', 'capacity': 5},
{'item_attr02_cd': 'P102', 'item_attr03_cd': 'P102015', 'res_grp_cd': '1108', 'res_type_cd': 'FEMALE', 'capacity': 5},
{'item_attr02_cd': 'P102', 'item_attr03_cd': 'P102006', 'res_grp_cd': '1108', 'res_type_cd': 'MALE', 'capacity': 2},
{'item_attr02_cd': 'P102', 'item_attr03_cd': 'P102006', 'res_grp_cd': '1108', 'res_type_cd': 'FEMALE', 'capacity': 6},
]

In [8]:
human_df = pd.DataFrame(human)
human_df

   item_attr02_cd item_attr03_cd res_grp_cd res_type_cd  capacity
0            P101        P101003       1108        MALE         2
1            P101        P101003       1108      FEMALE        10
2            P101        P101005       1108        MALE         1
3            P101        P101005       1108      FEMALE         9
4            P101        P101008       1108        MALE         1
5            P101        P101008       1108      FEMALE         8
6            P101        P101050       1108        MALE         1
7            P101        P101050       1108      FEMALE         3
8            P102        P102009       1108        MALE         3
9            P102        P102009       1108      FEMALE         8
10           P102        P102015       1108        MALE         5
11           P102        P102015       1108      FEMALE         5
12           P102        P102006       1108        MALE         2
13           P102        P102006       1108      FEMALE         6