In [22]:
import os
import pandas as pd

In [23]:
data = {
    'plant_cd': ['K130'],
    'yy': ['2022'],
    'week': ['W17'],
    'floor': ['A'],
    'm_val': [7],
    'w_val': [5]
}

In [24]:
df = pd.DataFrame(data)
df.head()

  plant_cd    yy week floor  m_val  w_val
0     K130  2022  W17     A      7      5

In [25]:
df.to_csv(os.path.join('..', '..', 'data', 'human', 'human_capacity_temp.csv'), index=False)