In [1]:
import numpy as np
import pandas as pd

### People Capacity

In [11]:
res_org = ['10003935','10003936','10003977','10003978','10003980','10003981','10007202']
res_cd = []
for res in res_org:
    for number in range(1,11):
        res_cd.append(res + '_M' + str(number).zfill(3))
        res_cd.append(res + '_F' + str(number).zfill(3))
res_cd = sorted(res_cd)

In [12]:
project_cd = 'ENT_001'
if_vrsn_id = '-'
plant_cd = 'K120'
res_seq = 4
res_type_cd = 'PPL'
res_ctgi_cd = ''
res_grp_cd = ['2217'] * len(res_cd)
res_capa_val = [1] * len(res_cd)
over_capa_val = [0] * len(res_cd)
capa_unit_cd = 'MIN'
start_yymmdd = '20010101'
end_yymmdd = '99991231'
descr = ''
inf_capa_yn = 'N'
use_yn = 'Y'
del_yn = 'N'

In [13]:
people_cols = ['project_cd', 'if_vrsn_id', 'plant_cd', 'res_cd', 'res_nm', 'res_seq', 'res_type_cd', 
        'res_ctgi_cd', 'res_grp_cd', 'res_capa_val', 'over_capa_val', 'capa_unit_cd', 
        'start_yymmdd', 'end_yymmdd', 'descr', 'inf_capa_yn', 'use_yn', 'del_yn']

In [15]:
capa_people = pd.DataFrame({
    'res_cd': res_cd,
    'res_nm': res_cd,
    'res_capa_val': res_capa_val,
    'over_capa_val': over_capa_val
    }
)

In [16]:
capa_people['project_cd'] = project_cd
capa_people['if_vrsn_id'] = if_vrsn_id
capa_people['plant_cd'] = plant_cd
capa_people['res_seq'] = res_seq
capa_people['res_type_cd'] = res_type_cd
capa_people['res_ctgi_cd'] = res_ctgi_cd
capa_people['res_grp_cd'] = res_grp_cd
capa_people['capa_unit_cd'] = capa_unit_cd
capa_people['start_yymmdd'] = start_yymmdd
capa_people['end_yymmdd'] = end_yymmdd
capa_people['descr'] = descr
capa_people['inf_capa_yn'] = inf_capa_yn
capa_people['use_yn'] = use_yn
capa_people['del_yn'] = del_yn

In [17]:
capa_people = capa_people[people_cols]
capa_people

,project_cd,if_vrsn_id,plant_cd,res_cd,res_nm,res_seq,res_type_cd,res_ctgi_cd,res_grp_cd,res_capa_val,over_capa_val,capa_unit_cd,start_yymmdd,end_yymmdd,descr,inf_capa_yn,use_yn,del_yn
0,ENT_001,-,K120,10003935_F001,10003935_F001,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
1,ENT_001,-,K120,10003935_F002,10003935_F002,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
2,ENT_001,-,K120,10003935_F003,10003935_F003,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
3,ENT_001,-,K120,10003935_F004,10003935_F004,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
4,ENT_001,-,K120,10003935_F005,10003935_F005,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,ENT_001,-,K120,10007202_M006,10007202_M006,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
136,ENT_001,-,K120,10007202_M007,10007202_M007,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
137,ENT_001,-,K120,10007202_M008,10007202_M008,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
138,ENT_001,-,K120,10007202_M009,10007202_M009,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N
139,ENT_001,-,K120,10007202_M010,10007202_M010,4,PPL,,2217,1,0,MIN,20010101,99991231,,N,Y,N

In [18]:
capa_people.to_csv('res_people.csv', index=False)

### Machine Group <-> People Group Map

In [26]:
project_cd = 'ENT_001'
plant_cd = 'K120'
res_grp_cd = ['2217'] * len(res_cd)
res_type_cd = ['PPL'] * len(res_cd)
use_yn = 'Y'
del_yn = 'N'

In [27]:
res_map_cd = []
for res in res_org:
    res_map_cd.extend([res] * 20)

In [28]:
map_cols = ['project_cd', 'plant_cd', 'res_map_cd', 'res_grp_cd','res_type_cd', 'res_cd', 'res_nm',
        'use_yn', 'del_yn']

In [29]:
capa_map = pd.DataFrame({
    'res_map_cd': res_map_cd,
    'res_grp_cd': res_grp_cd,
    'res_type_cd': res_type_cd,
    'res_cd': res_cd,
    'res_nm': res_cd,
    'use_yn': use_yn,
    'del_yn': del_yn,
    }
)

In [30]:
capa_map['project_cd'] = project_cd
capa_map['plant_cd'] = plant_cd
capa_map['use_yn'] = use_yn
capa_map['del_yn'] = del_yn

In [31]:
capa_map = capa_map[map_cols]
capa_map = capa_map.sort_values(by=['plant_cd', 'res_map_cd', 'res_grp_cd', 'res_cd']).reset_index(drop=True)

,project_cd,plant_cd,res_map_cd,res_grp_cd,res_type_cd,res_cd,res_nm,use_yn,del_yn
0,ENT_001,K120,10003935,2217,PPL,10003935_F001,10003935_F001,Y,N
1,ENT_001,K120,10003935,2217,PPL,10003935_F002,10003935_F002,Y,N
2,ENT_001,K120,10003935,2217,PPL,10003935_F003,10003935_F003,Y,N
3,ENT_001,K120,10003935,2217,PPL,10003935_F004,10003935_F004,Y,N
4,ENT_001,K120,10003935,2217,PPL,10003935_F005,10003935_F005,Y,N
...,...,...,...,...,...,...,...,...,...
135,ENT_001,K120,10007202,2217,PPL,10007202_M006,10007202_M006,Y,N
136,ENT_001,K120,10007202,2217,PPL,10007202_M007,10007202_M007,Y,N
137,ENT_001,K120,10007202,2217,PPL,10007202_M008,10007202_M008,Y,N
138,ENT_001,K120,10007202,2217,PPL,10007202_M009,10007202_M009,Y,N
139,ENT_001,K120,10007202,2217,PPL,10007202_M010,10007202_M010,Y,N

In [34]:
capa_map.to_csv('res_people_map.csv', index=False)