In [62]:
import os
import pandas as pd
import numpy as np

from collections import defaultdict
from itertools import permutations

In [63]:
base_dir = os.path.join('..', '..', 'data')
file_name = 'dmd_res_grp_brand.csv'

In [64]:
project_cd = 'ENT001'
fp_vrsn_id = 'FP_2022W15.01'
plant_cd = 'K130'
job_change_type = 'BRAND'
unit_cd = 'MIN'

In [65]:
data = pd.read_csv(os.path.join(base_dir, file_name))
data.columns = [col.lower() for col in data.columns]

In [66]:
case = defaultdict(list)
for res_grp, item_attr03_cd in zip(data['res_grp_cd'], data['item_attr03_cd']):
    case[res_grp].append(item_attr03_cd)

case_multi = {}
for res_grp, item_list in case.items():
    if len(item_list) > 1:
        case_multi[res_grp] = item_list
        
for res_grp, item_list in case_multi.items():
    comb_items = list(permutations(item_list, 2))
    case_multi[res_grp] = comb_items

In [67]:
job_change_list = []
for res_grp, comb_items in case_multi.items():
    for from_item, to_item in comb_items:
        job_change_list.append((res_grp, from_item, to_item))
        
job_change_df = pd.DataFrame(job_change_list, columns=['res_grp_cd', 'from_res_cd', 'to_res_cd'])

In [68]:
job_change_df['working_time'] = np.random.randint(low=10, high=30, size=len(job_change_df))

In [69]:
cols = list(job_change_df.columns)

job_change_df['fp_vrsn_id'] = fp_vrsn_id
job_change_df['plant_cd'] = plant_cd
job_change_df['job_change_type'] = job_change_type
job_change_df['unit_cd'] = unit_cd

job_change_df = job_change_df[['fp_vrsn_id', 'plant_cd', 'job_change_type'] + cols + ['unit_cd']]

In [71]:
job_change_df.head()

,fp_vrsn_id,plant_cd,job_change_type,res_grp_cd,from_res_cd,to_res_cd,working_time,unit_cd
0,FP_2022W15.01,K130,BRAND,X247,P103054,P103055,19,MIN
1,FP_2022W15.01,K130,BRAND,X247,P103054,P106005,18,MIN
2,FP_2022W15.01,K130,BRAND,X247,P103054,P107001,19,MIN
3,FP_2022W15.01,K130,BRAND,X247,P103054,P107003,11,MIN
4,FP_2022W15.01,K130,BRAND,X247,P103054,P107072,15,MIN

In [72]:
job_change_df.to_csv(os.path.join(base_dir, 'job_change_temp.csv'), index=False)